In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("../datas/Hitters.csv")
df = df.dropna()
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [22]:
dms = pd.get_dummies(df[['League', 'Division', 'NewLeague']])
dms.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

In [23]:
y = df["Salary"]

In [24]:
X = df.drop(['Salary', 'League', 'Division', 'NewLeague'], axis=1)

In [25]:
X = pd.concat([X, dms[["League_N", "Division_W", "NewLeague_N"]]], axis=1)

In [27]:
from sklearn .model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

# Reduce

In [31]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [30]:
pca = PCA()

In [32]:
X_reduced_train = pca.fit_transform(scale(X_train))

In [40]:
np.cumsum(np.round(pca.explained_variance_ratio_, decimals=4)*100)[:100]

array([38.18, 59.88, 70.88, 78.88, 84.18, 88.45, 92.05, 94.86, 96.34,
       97.28, 98.01, 98.68, 99.18, 99.49, 99.74, 99.9 , 99.96, 99.98,
       99.99])

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
lm = LinearRegression()

In [43]:
pcr_model = lm.fit(X_reduced_train, y_train)

## Statsmodels

In [49]:
import statsmodels.api as sm

In [53]:
lm = sm.OLS(y_train, X_train)
model = lm.fit()
model.summary().tables[1]