# Pandas Series

git add .

git commit -m "Pandas DataFrame"

git push

In [2]:
import pandas as pd
import numpy as np

In [10]:
series = pd.Series(np.random.randint(10, 20, size = 10))
series.values

array([10, 18, 14, 18, 14, 11, 10, 10, 14, 14])

In [11]:
print(series.size, series.dtype, series.axes)

10 int32 [RangeIndex(start=0, stop=10, step=1)]

## Index Operations on Series

In [26]:
seriesIndex = pd.Series(np.random.randint(10, 20, size = 10), index = [np.arange(20,10,-1)])
print(seriesIndex)
seriesIndex = pd.Series(np.random.randint(10, 20, size = 5), index = ["a","b","c","d","e"])
print(seriesIndex)

20    17
19    17
18    17
17    16
16    12
15    17
14    18
13    15
12    12
11    10
dtype: int32
a    14
b    16
c    13
d    17
e    11
dtype: int32

In [25]:
seriesIndex["a":"c"]

a    11
b    13
c    18
dtype: int32

## Dict to Series

In [27]:
dict = {"key1":3, "key2":4, "key4":6}

In [29]:
dictSerie = pd.Series(dict)
dictSerie

key1    3
key2    4
key4    6
dtype: int64

## Concat Series

In [32]:
concatDictSeries = pd.concat([dictSerie, dictSerie])
print(concatDictSeries)

key1    3
key2    4
key4    6
key1    3
key2    4
key4    6
dtype: int64

# Pandas DataFrame

In [34]:
import pandas as pd
import numpy as np

In [36]:
firstDataFrame = pd.DataFrame(np.random.normal(20, 5, size = 10))
firstDataFrame

           0
0  16.876505
1  20.165267
2  23.511774
3  19.757416
4  21.544181
5  25.672399
6  19.507570
7  22.447008
8  28.035381
9  13.864737

In [39]:
matrix_df = pd.DataFrame(data = np.random.normal(30, 5, size = 9).reshape(3,3), 
                    index = ["var1", "var2", "var3"],
                    columns= ["colunm1", "colunm2", "colunm2"])
matrix_df

        colunm1    colunm2    colunm2
var1  32.790537  24.046110  34.952817
var2  27.079022  23.438808  27.873210
var3  28.103118  26.792104  31.238509